@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e1215;
}

* {
  box-sizing: border-box;
}

img {
  outline: none;
}

* {
  color: #ffffff;
}

/* This part changes the scrollbar track (the part behind the scrollbar) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark grey color, you can choose any color you like */
}

/* This part changes the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #555; /* Medium grey color, this is the actual scrollbar */
}

/* You can also change the scrollbar width and height */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

html {
  scroll-behavior: smooth;
}
